<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <a class="navbar-brand" href="#">Task <i class="bi bi-pencil-square"></i></a>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a class="nav-link " routerLink="" routerLinkActive="active">Home</a> <!--ho legato la rotta definita nel file app-routing al link, tramite routerLink, lo stesso per il link seguente-->
          <a class="nav-link" routerLink="/task" routerLinkActive="active">Task</a>
        </div>
      </div>
    </div>
  </nav>
